html {
    scroll-behavior: smooth;
}

body {
    background-color: #FFF7DD;
    font-family: 'Archivo Black', sans-serif;
}
.container {
    max-width: 1100px;
    padding: 0 20px;
    margin: 0 auto;
}
nav{
    position: sticky;
    max-width: 1100px;
    width: 100%;
    top: 5px;
    z-index: 3;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px 20px 20px;
    font-weight: 600;
    font-size: 0.9rem;
    background-color: #1A382A;
    color: #FFF7DD;
    border-radius: 10px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
}
.nav-brand {
    font-weight: 700;
    font-size: 1.1rem;
}
.nav-links a {
    margin-left: 20px;
    color: var(--text-grey);
    font-size: 1rem;
    text-decoration: none;
}
header {
    text-align: center;
    padding: 40px 0;
}

.header-logo {
    width: 100px;
    height: auto;
    margin-bottom: 20px;
}

.title {
    color: #1A382A;
    font-size: 50px;
    font-weight: 200;
}
.tagline {
    color:#1A382A;
    font-weight: 300;
    font-size: 1.2rem;
    margin-bottom: 30px;
}
.description{
    background-color: white;
    color: rgb(121, 121, 121);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
    padding: 10px 25px;
    border-radius: 10px;
    margin-bottom: 15px;
}
.buttons {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 15px;
}

.btn {
    display: inline-block;
    background-color: white;
    color: black;
    padding: 10px 25px;
    font-size: 0.85rem;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s;
    border-radius: 10px;
    border: 0px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
    text-decoration: none;
}

footer {
    background-color: #1A382A;
    color: #FFF7DD;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
    font-size: 0.8rem;
}
.team-section {
    padding: 5px;
}
.team-grid {
    padding: 10px 25px;
    border-radius: 10px;
    background-color: white;
    display: flex;
    justify-content: space-between;
}
.team-member {
    cursor: pointer;
    padding: 5px;
}
.timeline-section{
    display: flex;
}
.timeline{
    display: flex;
    flex-direction: column;

    position: relative;
}
.timeline::before{
    content: "";
    position:absolute;
    left: 27px;       
    top: 0;
    bottom: 0;
    border-left: 7px dashed #1A382A;
    z-index: 1;
}
.timeline-elements{
    display: flex;
    flex-direction: column;
}
.timeline-element h3{
    font-size: 1.5rem;
}
.timeline-element{
    display: grid;
    grid-template-columns: 60px 1fr;
    position: relative;
    align-items: center;
    z-index: 2;
}
.timeline-element-data{
    background-color: white;
    color: black;
    padding: 15px;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 10px;
    border: 0px;
    margin-top: 40px;
    margin-left: 40px;
}
.dot{
    grid-column: 1;
    justify-self: center;
    align-self: center;
    z-index: 2;
    width: 13px;
    height: 13px;
    background-color: #FFF7DD;
    border: solid 7px #1A382A;
    border-radius: 100%;
}
.timeline-element-text{
    padding: 5px;
    color: #1A382A;
}
.timeline-element-button{
    margin-top: 10px;
    background-color: #1A382A;
    color:#FFF7DD;
    padding-left: 15px;
    padding-right: 15px;
}
.figma-button{
    background-color: #FFF7DD;
    color: black;
}

@media (max-width: 768px) {
  .team-grid {
    flex-direction: column;
  }
  .nav-links {
    display: none;
  }
  .timeline-section{
    flex-direction: column;
  }
}

#menu-toggle {
    display: none;
}

.menu-icon {
    display: none;
    font-size: 1.6rem;
    cursor: pointer;
}

@media (max-width: 768px) {
  nav {
    position: sticky;      
  }

  .team-grid {
    flex-direction: column;
  }

  .nav-links {
    display: none;
  }

  .menu-icon {
    display: block;
    color: #FFF7DD;
    font-size: 1.6rem;
    cursor: pointer;
  }

  .mobile-menu {
    position: absolute;
    top: calc(100% + 8px);    
    left: 0;
    right: 0;
    box-sizing: border-box;   
    background-color: #33684f;
    border-radius: 10px;
    padding: 35px 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;

    opacity: 0;
    pointer-events: none;
    transition: 0.3s ease;
    z-index: 10;
  }

  .mobile-menu a {
    color: #FFF7DD;
    font-size: 1.2rem;
    text-decoration: none;
  }

  #menu-toggle:checked + .menu-icon + .mobile-menu {
    opacity: 1;
    pointer-events: all;
  }
}


.nascondi{
    display: none;
}